<a href="https://colab.research.google.com/github/Kathelyn24/micro_cred_winter_2022/blob/main/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np

In [5]:
#Dataset from summer Olympic London, year 2012
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [3]:
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
np_olympic_country[np_olympic_country_Gold.argmax()]

'US'

## 3.	Find countries with more than 20 gold medals

In [4]:
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
np_olympic_country[np_olympic_country_Gold.argmax()]


most_gold = np_olympic_country_Gold > 20
most_gold 
np_olympic_country_Gold[most_gold]
print(np_olympic_country[0:4])

['GBR' 'China' 'RUS' 'US']